.vscode/
.DS_Store
libft/objs/
libft/libft.a
a.out
test_file.s
test_file.cor
cw_log.txt
objects/
corewar
asm
deasm
lib/object_files/
lib/libft/object_files/
lib/libft/libft.a
dump_us
dump_orig
dump_orig_parsed
cw_diff_log
diff_log
cw_diff_mem
testchamps/*.cor
resources/champs/*.cor
